<div>
    <main>
        <section>
            <div>
                <div class="my-5">
                    <h1>{{name}}</h1>
                </div>
                <div>
                    <div class="mt-2">
                        <em>Users:</em>
                    </div>
                    <ul class="ms-5">
                        {{#each users}}
                        <li>
                            <span class="badge text-bg-primary">Id: {{id}}</span>
                            <span class="badge text-bg-secondary">Name: {{name}}</span>
                            <span class="badge text-bg-success">Gender: {{gender}}</span>
                            <span class="badge text-bg-danger">Age: {{age}}</span>

                            <div>
                                <div class="mt-2">
                                    <em>Friends:</em>
                                </div>
                                <ul class="ms-5">
                                    {{#each friends}}
                                    <li>
                                        <span class="badge text-bg-primary">Id: {{id}}</span>
                                        <span class="badge text-bg-secondary">Name: {{name}}</span>
                                        <span class="badge text-bg-success">Gender: {{gender}}</span>
                                        <span class="badge text-bg-danger">Age: {{age}}</span>

                                        <div>
                                            <div class="mt-2">
                                                <em>Mutual friends:</em>
                                            </div>
                                            <ul class="ms-5">
                                                {{#each mutual_friends}}
                                                <li>
                                                    <span class="badge text-bg-primary">Id: {{id}}</span>
                                                    <span class="badge text-bg-secondary">Name: {{name}}</span>
                                                    <span class="badge text-bg-success">Gender: {{gender}}</span>
                                                    <span class="badge text-bg-danger">Age: {{age}}</span>
                                                    {{#if mutual_friends}}

                                                    <div>
                                                        <div class="mt-2">
                                                            <em>Mutual friends:</em>
                                                        </div>
                                                        <ul class="ms-5">
                                                            {{#each mutual_friends}}
                                                            <li>
                                                                <span class="badge text-bg-primary">Id: {{id}}</span>
                                                                <span class="badge text-bg-secondary">Name:
                                                                    {{name}}</span>
                                                                <span class="badge text-bg-success">Gender:
                                                                    {{gender}}</span>
                                                                <span class="badge text-bg-danger">Age: {{age}}</span>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                    {{/if}}
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>

                                        {{#if groups}}
                                        <div>
                                            <div class="mt-2">
                                                <em>Groups:</em>
                                            </div>
                                            <ul class="ms-5">
                                                {{#each groups}}
                                                <li>
                                                    <span class="badge text-bg-primary">Id: {{id}}</span>
                                                    <span class="badge text-bg-secondary">Name: {{name}}</span>
                                                    <p>{{description}}</p>

                                                    <div>
                                                        <div class="mt-2">
                                                            <em>Members:</em>
                                                        </div>
                                                        <ul class="ms-5">
                                                            {{#each members}}
                                                            <li>
                                                                <span class="badge text-bg-primary">Id: {{id}}</span>
                                                                <span class="badge text-bg-secondary">Name:
                                                                    {{name}}</span>
                                                                <span class="badge text-bg-success">Gender:
                                                                    {{gender}}</span>
                                                                <span class="badge text-bg-danger">Age: {{age}}</span>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </div>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                        {{/if}}
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>

                            {{#if groups}}
                            <div>
                                <div class="mt-2">
                                    <em>Groups:</em>
                                </div>
                                <ul class="ms-5">
                                    {{#each groups}}
                                    <li>
                                        <span class="badge text-bg-primary">Id: {{id}}</span>
                                        <span class="badge text-bg-secondary">Name: {{name}}</span>
                                        <p>{{description}}</p>

                                        <div>
                                            <div class="mt-2">
                                                <em>Members:</em>
                                            </div>
                                            <ul class="ms-5">
                                                {{#each members}}
                                                <li>
                                                    <span class="badge text-bg-primary">Id: {{id}}</span>
                                                    <span class="badge text-bg-secondary">Name: {{name}}</span>
                                                    <span class="badge text-bg-success">Gender: {{gender}}</span>
                                                    <span class="badge text-bg-danger">Age: {{age}}</span>
                                                </li>
                                                {{/each}}
                                            </ul>
                                        </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/if}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </section>
    </main>
</div>