{{!--
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
--}}

<div class="p-5">
    <div class="row">

        <section class="col-12">
            <div class="card p-2">
                <div class="row">
                    {{#with header}}
                    <strong class="col-6">{{name}}</strong>
                    <strong class="col-6 text-end">{{project}}</strong>
                    {{/with}}
                </div>
            </div>
        </section>

        <section class="col-12">
            <div class="card py-5">
                {{#with description}}
                <div>
                    <h1>{{title}}</h1>
                </div>
                <p>{{text}}</p>
                {{/with}}

                <div class="card p-2">
                    <div class="row g-2">
                        {{#each pages}}
                        <div class="col-4">
                            <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

{{!--
Цей код містить лише те, що буде виводитись в

<body>
    Адже наш layout/default.hbs має вже структуру HTML
    --}}