<div>
    <main>
        <section>
            <div>
                {{#with person}}
                <div>
                    <div class="my-5">
                        <h1>{{name}}</h1>
                    </div>
                    <div class="mb-2">Age: {{age}}</div>
                    <div class="mb-2">Marital status: {{gender}}</div>
                    <address>
                        <div class="mt-2">
                            <em>Address:</em>
                        </div>
                        <ul class="ps-5">
                            {{#each address}}
                            <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </address>
                </div>

                <div>
                    {{> title title="Education" big=true}}
                    <ul class="ps-5">
                        {{#each education}}
                        <li>
                            <div class="mb-2">{{university}}</div>
                            <div class="mb-2">{{degree}}</div>
                            <div class="mb-2">{{major}}</div>
                            <div class="mb-2">{{graduationYear}}</div>
                        </li>
                        {{/each}}
                    </ul>
                </div>

                <div>
                    {{> title title="Word experience" big=false}}
                    <ul class="ps-5">
                        {{#each workExperience}}
                        <li>
                            <div class="mb-2">{{company}}</div>
                            <div class="mb-2">{{title}}</div>
                            <div class="mb-2">
                                {{startDate}} -
                                {{#if endDate}}
                                {{endDate}}
                                {{else}}
                                (I'm working now)
                                {{/if}}
                            </div>

                            <div class="mt-2">
                                <em>Responsibilities:</em>
                            </div>
                            <ul class="ps-5">
                                {{#each responsibilities}}
                                <li>
                                    <p>{{this}}</p>
                                </li>
                                {{/each}}
                            </ul>
                            <div class="mb-2">Year of founded: {{year_founded}}</div>
                            <div class="mb-2">Industry: {{industry}}</div>

                            <div class="mt-2">
                                <em>Employees:</em>
                            </div>
                            <ul class="ps-5">
                                {{#each employees}}
                                <li>
                                    <div class="mb-2">{{name}}</div>
                                    <div class="mb-2">{{position}}</div>
                                    <div class="mb-2">{{department}}</div>

                                    <div class="mt-2">
                                        <em>Projects:</em>
                                    </div>
                                    <ul class="ps-5">
                                        {{#each projects}}
                                        <li>
                                            <b class="mb-2">{{name}}</b>
                                            <p>{{description}}</p>
                                            <div class="mb-2">{{status}}</div>

                                            <div class="mt-2">
                                                <em>Teams:</em>
                                            </div>
                                            <ul class="ps-5">
                                                {{#each teams}}
                                                <li>
                                                    <b class="mb-2">{{team_name}}</b>
                                                    {{#with team_leader}}
                                                    <div class="mb-2">{{name}}</div>
                                                    <div class="mb-2">{{title}}</div>
                                                    {{> link href=email text=email blank=true noLine=true}}
                                                    {{/with}}
                                                </li>

                                                <ul class="ps-5 mt-2">
                                                    {{#each team_members}}
                                                    <li>
                                                        <div class="mb-2">{{name}}</div>
                                                        <div class="mb-2">{{title}}</div>
                                                        {{> link href=email text=email blank=true noLine=true}}

                                                        <div class="mt-2">
                                                            <em>Skills:</em>
                                                        </div>
                                                        <ul class="ps-5">
                                                            {{#each skills}}
                                                            <li>{{this}}</li>
                                                            {{/each}}
                                                        </ul>

                                                        <div class="mt-2">
                                                            <em>Projects:</em>
                                                        </div>
                                                        <ul class="ps-5">
                                                            {{#each projects}}
                                                            <li>
                                                                <div class="mb-2">{{name}}</div>
                                                                <p>{{description}}</p>

                                                                <div class="mt-2">
                                                                    <em>Technologies:</em>
                                                                </div>
                                                                <ul class="ps-5">
                                                                    {{#each technologies}}
                                                                    <li>{{this}}</li>
                                                                    {{/each}}
                                                                </ul>

                                                                <div class="mt-2">
                                                                    <em>Team:</em>
                                                                </div>
                                                                <ul class="ps-5">
                                                                    {{#each team_members}}
                                                                    <li>
                                                                        <div>{{name}}</div>
                                                                        <div>{{title}}</div>
                                                                    </li>
                                                                    {{/each}}
                                                                </ul>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </li>
                                                    {{/each}}
                                                </ul>
                                                {{/each}}
                                            </ul>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/with}}
            </div>
        </section>
    </main>
</div>