<div>
    <main>
        <section>
            {{#with program}}
            <div>
                {{#with excursion}}
                <div>
                    <div class="my-5">
                        <h1>{{name}}</h1>
                    </div>
                    {{#with location}}
                    <div>
                        <address>Location: {{city}} {{country}}</address>
                    </div>
                    {{/with}}
                    <div>{{date}}</div>

                    <ul class="ps-5">
                        {{#each program}}
                        <li>
                            <div>
                                {{> title title=name big=true}}
                            </div>
                            <div>{{type}}</div>
                            <div>Duration: {{duration}} hours</div>
                            <div class="mt-2">
                                <em>Details:</em>
                            </div>
                            {{#with details}}
                            <div>
                                {{#with museum}}
                                <div>
                                    <div>
                                        <cite>{{name}}</cite>
                                    </div>
                                    {{#with location}}
                                    <div>
                                        <div class="mt-2">
                                            <em>Location:</em>
                                        </div>
                                        <address>
                                            <div>{{address}}</div>
                                            <div>{{city}}</div>
                                            <div>{{country}}</div>
                                        </address>
                                    </div>
                                    {{/with}}

                                    <div class="mt-2">
                                        <em>Exhibits:</em>
                                    </div>
                                    <ul class="ps-5">
                                        {{#each exhibits}}
                                        <li>
                                            <cite>{{name}}</cite>
                                            <div>{{artist}}</div>
                                            {{#if audio_guide}}
                                            Audio guide
                                            {{/if}}
                                            <p>{{description}}</p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                {{/with}}

                                {{#with venue}}
                                <div>
                                    <div class="my-2">
                                        <cite>{{name}}</cite>
                                    </div>
                                    {{#with location}}
                                    <div>
                                        <em>Location:</em>
                                        <address>
                                            <div>{{address}}</div>
                                            <div> {{city}}</div>
                                            <div>{{country}}</div>
                                        </address>
                                    </div>
                                    {{/with}}
                                </div>
                                {{/with}}

                                <ul class="ps-5">
                                    {{#if performers}}
                                    <div class="mt-2">
                                        <em>Performers:</em>
                                    </div>
                                    {{/if}}
                                    {{#each performers}}
                                    <li>
                                        <cite>{{name}}</cite>
                                        <div class="mb-2">{{type}}</div>
                                    </li>
                                    {{/each}}
                                </ul>

                                <div class="mt-2">
                                    <em>Guide:</em>
                                </div>
                                {{#with guide}}
                                <div>
                                    <div>{{name}}</div>
                                    <div>Language: {{language}}</div>
                                    <div>Rating: {{rating}}</div>
                                </div>
                                {{/with}}
                            </div>
                            {{/with}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/with}}
            </div>
            {{/with}}
        </section>
    </main>
</div>