<main class="p-5">
    <div class="row">

        <section class="col-12 mb-5">
            {{#with navigation}}
            <div class="card">
                <ul class="nav">
                    {{#each links}}
                    <li class="nav-item">
                        <a {{#if href}}href={{href}} class="nav-link" {{else}}class="nav-link disabled" {{/if}}>
                            {{text}}
                        </a>
                    </li>
                    {{/each}}
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
            </div>
            {{/with}}
        </section>

        <section class="col-12">
            {{#with newsBlock}}
            <div class="card">
                <div class="mt-2">
                    <h1 class="text-center">{{title}}</h1>
                </div>

                <div class="row g-2">
                    {{#each cards}}
                    <div class="col-3">
                        <div class="card text-bg-dark">
                            <div class="card-header">
                                {{title}}

                                {{#if isNew}}
                                <span class="badge rounded-pill text-bg-success">New</span>
                                {{/if}}

                                {{#if isTop}}
                                <span class="badge rounded-pill text-bg-danger">Top</span>
                                {{/if}}
                            </div>
                            <p>{{description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </section>

        <section class="col-12">
            {{#with goodsBlock}}
            <div class="card">
                <div class="nav nav-tabs my-5">
                    {{#each tabs}}
                    <div class="nav-item">
                        <span class="nav-link {{#if isActive}}active{{/if}} {{#if isDisabled}}disabled{{/if}}">
                            {{text}}
                        </span>
                    </div>
                    {{/each}}
                </div>

                <div class="row g-2">
                    {{#each cards}}
                    <div class="col-4">
                        <div class="card">
                            <img src={{image}} alt={{title}} class="card-img-top">
                            <div class="card-body">
                                <div class="card-title mb-3">
                                    {{title}}

                                    {{#if isHot}}
                                    <span class="badge rounded-pill text-bg-warning">Hot!</span>
                                    {{/if}}

                                    {{#if isNew}}
                                    <span class="badge rounded-pill text-bg-primary">New</span>
                                    {{/if}}
                                </div>
                                <p class="mb-0">{{description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </section>

        <section class="col-12">
            {{#with subscribe}}
            <div class="card my-5">
                <div class="card-header text-bg-dark">
                    <h2>{{header}}</h2>
                    <p>{{description}}</p>
                    {{#each buttons}}
                    <div class="my-2">
                        <a href={{link}} class="btn btn-primary">{{text}}</a>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </section>

        <section class="col-12">
            {{#with service}}
            <div class="card text-center text-bg-success mb-5">
                <h2>{{title}}</h2>
                <p>{{description}}</p>
                {{#each buttons}}
                <div>
                    <a href={{link}} class="btn btn-primary">{{text}}</a>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <section class="col-12">
            <div class="card">
                <div class="card-footer">
                    <div class="row">
                        {{#each footer}}
                        <div class="nav col-2 me-1">
                            <div class="nav-item">
                                <a href={{this.[0].link}} class="btn btn-link nav-link">{{this.[0].text}}</a>
                            </div>

                            <div class="nav-item">
                                <a href={{this.[1].link}} class="btn btn-link nav-link">{{this.[1].text}}</a>
                            </div>

                            <div class="nav-item">
                                <a href={{this.[2].link}} class="btn btn-link nav-link">{{this.[2].text}}</a>
                            </div>

                            <div class="nav-item">
                                <a href={{this.[3].link}} class="btn btn-link nav-link disabled">{{this.[3].text}}</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>