<div>
    <main>
        <section>
            <div>
                {{#with heading}}
                <div class="card card-body">
                    {{#with main}}
                    <div class="card card-body">
                        <div>
                            <h1>{{title}}</h1>
                        </div>
                        <p>{{text}}</p>
                        {{#with button_text}}
                        <div>
                            <button class="btn btn-primary">{{solid}}</button>
                        </div>
                        <br />
                        <div>
                            <button class="btn btn-outline-primary">{{outline}}</button>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                    <br />
                    {{#with second}}
                    <div class="card card-body">
                        {{> title big=true}}
                        <p>{{text}}</p>
                        {{#with button_text}}
                        <div>
                            <button class="btn btn-secondary">{{solid}}</button>
                        </div>
                        <br />
                        <div>
                            <button class="btn btn-outline-secondary">{{outline}}</button>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                    <br />
                    {{#with subblock}}
                    <div class="card card-body">
                        {{> title big=false}}
                        <p>{{text}}</p>
                        {{#with button_text}}
                        <div>
                            <button class="btn btn-dark">{{solid}}</button>
                        </div>
                        <div>
                            <button class="btn btn-outline-dark">{{outline}}</button>
                        </div>
                        {{/with}}
                    </div>
                    {{/with}}
                </div>
                {{/with}}

                <br />

                {{#with nested_display}}
                <div class="card card-body">
                    <div class="display-1">{{title}}</div>
                    <br />
                    {{#with children_display}}
                    <div class="card card-body">
                        <div class="display-4">{{title}}</div>
                        <p>{{text}}</p>
                        <div>
                            <button class="btn btn-warning">{{button.text}}</button>
                        </div>
                    </div>
                    {{/with}}
                    <br />
                    <div>
                        <h6>{{header_text}}</h6>
                    </div>
                    <div>
                        <button class="btn btn-info">{{button.text}}</button>
                    </div>
                </div>
                {{/with}}

                <br />

                {{#with paragraph}}
                <div class="card card-body">
                    <p class="text-uppercase">{{title}}</p>
                    <p>{{text}}</p>
                    {{#with button}}
                    <div>
                        <a href={{url}} class="btn btn-link">{{text}}</a>
                    </div>
                    {{/with}}
                    <br />
                    <div class="card card-body">
                        <ul>
                            {{#each list_name}}
                            <li>
                                <a href={{url}} class="btn btn-link">{{text}}</a>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/with}}
            </div>
        </section>
    </main>
</div>