<div>
    <main>
        <section>
            <div>
                <div class="my-5">
                    <h1>Languages</h1>
                </div>
                {{#with web}}
                <div>
                    <ul class="ps-5">
                        {{#each languages}}
                        <li>
                            {{> title title=name big=true}}
                            <div>{{version}}</div>
                            <p>{{description}}</p>
                            <ul class="ps-5">
                                {{#each elements}}
                                <li>
                                    <strong>{{name}}</strong>
                                    <p>{{description}}</p>
                                    <ul class="ps-5">
                                        {{#each attributes}}
                                        <li>
                                            <div>{{name}}</div>
                                            <p>{{description}}</p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>

                            <ul class="ps-5">
                                {{#each properties}}
                                <li>
                                    <strong>{{name}}</strong>
                                    <p>{{description}}</p>
                                    <ul class="ps-5">
                                        {{#each values}}
                                        <li>
                                            <div>{{value}}</div>
                                            <p>{{description}}</p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>

                            <ul class="ps-5">
                                {{#each functions}}
                                <li>
                                    <strong>{{name}}</strong>
                                    <p>{{description}}</p>
                                    <ul class="ps-5" s>
                                        {{#each parameters}}
                                        <li>
                                            <div>{{name}}</div>
                                            <div>{{type}}</div>
                                            <p>{{description}}</p>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/with}}
            </div>
        </section>
    </main>
</div>