<div>
    {{#with main}}
    <main>
        <section>
            {{> title title="Work history" big=true}}
            <div>
                <ul>
                    {{#each works}}
                    <li>
                        <div>{{position}}</div>

                        <br />

                        <div>
                            {{duration.from}} -
                            {{#if duration.to}}
                            {{duration.to}}
                            {{else}}
                            (зараз тут працюємо)
                            {{/if}}
                        </div>

                        <br />

                        <div>
                            {{#with company}}
                            {{#if url}}
                            {{> link href=url text=name blank=true noLine=true}}
                            {{else}}
                            <b>{{name}}</b>
                            {{/if}}
                            {{/with}}
                        </div>

                        <br />
                        <br />

                        <div>
                            <strong>Projects ({{projectAmount}})</strong>
                        </div>

                        <br />

                        <ul>
                            {{#each projects}}
                            <li>
                                <div>{{> link href=url text=name blank=true noLine=true}}</div>

                                <br />

                                <div>
                                    <p>{{about}}</p>
                                </div>

                                <br />

                                <div>
                                    <em>Project stacks ({{../stackAmount}})</em>
                                </div>

                                <br />

                                <ul>
                                    {{#each stacks}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>

                                <br />

                                <div>
                                    <em>Project awards</em>
                                </div>

                                <br />

                                <ul>
                                    {{#each awards}}
                                    <li>{{name}}</li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>
                    <br />
                    {{/each}}
                </ul>
            </div>
        </section>
    </main>
    {{/with}}
</div>