<div class="col-6">
    <div class="card">
        <img src="{{img}}" alt="{{name}}" class="card-img-top">
        <div class="m-2">
            <div class="my-2">
                {{#if isHot}}
                <span class="badge rounded-pill text-uppercase text-bg-warning">Hot!</span>
                {{/if}}
                {{#if isNew}}
                <span class="badge rounded-pill text-uppercase text-bg-primary">New</span>
                {{/if}}
            </div>
            <div class="my-1">
                {{#if isFast}}
                <span class="badge text-bg-success">Швидка доставка</span>
                {{/if}}
            </div>
            <div class="my-1">
                {{#if isFree}}
                <span class="badge text-bg-secondary">Безкоштовна доставка</span>
                {{/if}}
            </div>

            <b>{{name}}</b>

            {{#with review}}
            <div class="my-2">{{amount}} {{text}}</div>
            {{/with}}

            <b>{{price}}</b>

            <p class="mt-2">{{delivery}}</p>

            {{#each buttons}}
            <div class="my-2">
                {{#if isPrimary}}
                <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                {{/if}}
                {{#if isSecondary}}
                <a href="{{link}}" class="btn btn-secondary">{{text}}</a>
                {{/if}}
            </div>
            {{/each}}

            <ul>
                {{#each characteristics}}
                <li>{{title}}: {{value}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>